@using laMiaPizzeria.Models
@model Post

<div class = "container" >
	<div class= "row">
		<div class = "col col-12 ">
			<div>
				<h1> dettagli pizza </h1>
				<img src = "@Model.image" />


			</div>
			<p>
				titolo @Model.Title
			</p>
			<p>contenuto @Model.description</p>
		</div>

	</div>
</div>